@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

body {
    background-color: #181A1B;
    background-size: cover;
    color: white;
    font-family: 'Roboto Mono', sans-serif;
}

h1 {
    color: #1F6FEB;
}

a {
    color: #1F6FEB;
    font-weight: bold;
    text-decoration: underline;
}

.seperator {
    height: 2px;
    background-color: #232628;
    width: 100%;
    padding: 0px;
    margin-bottom: 16px;
    margin-top: 16px;
}

.seperator-small-bottom {
    height: 2px;
    background-color: #232628;
    width: 100%;
    padding: 0px;
    margin-bottom: 4px;
    margin-top: 16px;
}

.seperator-small-top {
    height: 2px;
    background-color: #232628;
    width: 100%;
    padding: 0px;
    margin-bottom: 16px;
    margin-top: 0px;
}

.container {
    background-color: #181A1B;
    max-width: 1200px;
    margin: 32px auto;
    min-height: 400px;
}

.subcontainer {
    padding: 4px 16px 16px 16px;
    width: fit-content;
    border-radius: 6px;
}

.button,
.textbox,
.fileselect,
.file {
    padding: 16px 8px;
    width: fit-content;
    border-radius: 6px;
    background-color: black;
    color: white;
    transition: 0.3s;
}

.filename {
    text-decoration: underline;
    display: inline-block;
    overflow-wrap: normal;
    word-break: break-all;
    margin: 0px;
}

.textbox:hover,
.button:hover {
    padding: 4px 8px;
    width: fit-content;
    border-radius: 6px;
    background-color: black;
}

.file {
    margin-bottom: 16px;
    width: inherit;
    background-color: #232628;
    font-size: 18px;
    padding: 8px 16px;
}

.fileselect {
    width: 250px;
}

a {
    text-decoration: none;
}

.info {
    padding: 1px 20px;
    outline-color: #232628;
    outline-style: solid;
    border-radius: 6px;
}

.category-select {
    display: inline-block;
}

.category-select ul {
    list-style: none;
    padding: 8px 16px;
    padding-bottom: 0px;
    color: white;
    border-radius: 6px;
    padding-left: 0px;
    margin: 0px;
    display: inline-block;
    height: auto;
}

.category-select li {
    float: left;
    margin-bottom: 8px;
    list-style: none;
    padding: 8px 8px;
    padding-left: 0px;
    margin-left: 0px;
    color: white;
    border-radius: 6px;
}

.category-select li a {
    padding: 8px 16px;
    color: white;
    font-weight: normal;
    transition: 0.3s;
    background-color: #232628;
    border-radius: 6px;
}

.category-select li a:hover {
    color: #1F6FEB;
    font-weight: normal;
}

.file-description,
.file-size,
.file-date {
    color: white;
    font-size: 16px;
    font-weight: normal;
}

.file-size {
    font-weight: bold;
}

.file-date {
    text-align: right;
    margin-top: -20px;
    font-weight: bold;
}

.file:hover {
    background-color: rgba(31, 111, 235, 1);
}