@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

body {
    background-color: #181A1B;
    background-size: cover;
    color: white;
    font-family: 'Roboto Mono', sans-serif;
}

h1 {
    color: #1F6FEB;
}

a {
    color: #1F6FEB;
    text-decoration: underline;
}

.seperator {
    height: 2px;
    background-color: #232628;
    width: 100%;
    padding: 0px;
    margin-bottom: 16px;
    margin-top: 16px;
}

.container {
    padding: 0px 64px 55px 64px;
    background-color: #181A1B;
    width: 50%;
    margin: 32px auto;
    min-height: 400px;
}

.subcontainer {
    padding: 4px 16px 16px 16px;
    width: fit-content;
    border-radius: 6px;
}

.button,
.textbox,
.fileselect,
.file {
    padding: 16px 8px;
    width: fit-content;
    border-radius: 6px;
    background-color: black;
    color: white;
    transition: 0.3s;
}

.filename {
    text-decoration: underline;
    display: inline-block;
    overflow-wrap: normal;
    word-break: break-all;
    margin: 0px;
}

.textbox:hover,
.button:hover {
    padding: 4px 8px;
    width: fit-content;
    border-radius: 6px;
    background-color: black;
}

.file {
    margin-bottom: 16px;
    width: inherit;
    background-color: #232628;
    font-size: 18px;
    padding: 8px 16px;
}

.fileselect {
    width: 250px;
}

a {
    text-decoration: none;
}

.file-description,
.file-size,
.file-date {
    color: white;
    font-size: 16px;
}

.file-size {
    font-weight: bold;
}

.file-date {
    text-align: right;
    margin-top: -20px;
    font-weight: bold;
}

.file:hover {
    background-color: rgba(31, 111, 235, 1);
}

@media only screen and (max-width: 800px) {
    .container {
        padding: 2px;
        width: 90%;
        margin: 32px auto;
    }

    .file {
        padding: 4px 8px;
    }
    
}